USE [eVoucher]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/5/2020 12:22:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[GUID] [char](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[MaxQty] [int] NULL,
	[MaxGiftQty] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 10/5/2020 12:22:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentType](
	[GUID] [char](36) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/5/2020 12:22:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Voucher](
	[GUID] [char](36) NOT NULL,
	[CustomerGUID] [char](36) NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ExpireDate] [datetime] NOT NULL,
	[Image] [varchar](max) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Qty] [int] NULL,
	[PaymentType] [varchar](50) NULL,
	[BuyType] [varchar](20) NULL,
	[Status] [char](10) NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VoucherDetail]    Script Date: 10/5/2020 12:22:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VoucherDetail](
	[GUID] [char](36) NOT NULL,
	[VoucherGUID] [char](36) NULL,
	[PromoCode] [varchar](20) NULL,
	[QRCode] [varchar](max) NULL,
	[PromoCodeStatus] [bit] NOT NULL,
 CONSTRAINT [PK_VoucherDetail] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customer] ([GUID], [Name], [Phone], [MaxQty], [MaxGiftQty]) VALUES (N'5B017C9B-F914-485B-8DD5-DE707B8A8ACF', N'Codigo', N'099777777777', 10, 10)
INSERT [dbo].[Customer] ([GUID], [Name], [Phone], [MaxQty], [MaxGiftQty]) VALUES (N'7AD640B0-40B1-4D3B-8ED1-C0919019D42E', N'CodigoMobile', N'096666666666', 10, 10)
INSERT [dbo].[Customer] ([GUID], [Name], [Phone], [MaxQty], [MaxGiftQty]) VALUES (N'AC3F3212-4059-48A8-940E-814A5B3BF74E', N'CodigoMyanmar', N'098888888888', 10, 10)
INSERT [dbo].[PaymentType] ([GUID], [Name], [Description], [Discount]) VALUES (N'8BD0D1E2-6404-41E0-B18A-E10D7EC77CE4', N'KBZPay', N'KBZ mobile payment platform', 10)
INSERT [dbo].[PaymentType] ([GUID], [Name], [Description], [Discount]) VALUES (N'B4750647-D2A0-4C0B-B46C-C32D12E5BDEC', N'MPU', N'Myanmar eCommerence Payment Union', 10)
INSERT [dbo].[PaymentType] ([GUID], [Name], [Description], [Discount]) VALUES (N'88919FFA-05C2-4069-A668-39A626C020CB', N'Paypal', N'Paypal payment platform', 10)
INSERT [dbo].[Voucher] ([GUID], [CustomerGUID], [Title], [Description], [ExpireDate], [Image], [Amount], [Qty], [PaymentType], [BuyType], [Status]) VALUES (N'3AE65430-800A-4F75-AB88-90F736BA8464', N'5B017C9B-F914-485B-8DD5-DE707B8A8ACF', N'Marketplace Member card Update', N'To use discount in City Supermarket', CAST(0x0000AC490118E0D5 AS DateTime), N'asdfasddsss', CAST(50.00 AS Decimal(18, 2)), 1, N'MPU', N'personal', N'Inactive  ')
INSERT [dbo].[Voucher] ([GUID], [CustomerGUID], [Title], [Description], [ExpireDate], [Image], [Amount], [Qty], [PaymentType], [BuyType], [Status]) VALUES (N'8e34c4f5-4fd8-4226-b2c5-d7d60d7e7be6', N'5B017C9B-F914-485B-8DD5-DE707B8A8ACF', N'Grab Taxi member code', N'To use the services of Grab', CAST(0x0000AC640118E0D5 AS DateTime), N'', CAST(10000.00 AS Decimal(18, 2)), 10, N'MPU', N'personal', N'Active    ')
INSERT [dbo].[Voucher] ([GUID], [CustomerGUID], [Title], [Description], [ExpireDate], [Image], [Amount], [Qty], [PaymentType], [BuyType], [Status]) VALUES (N'92B67983-7304-4C4B-AA52-55B392293795', N'5B017C9B-F914-485B-8DD5-DE707B8A8ACF', N'City Mart Payment', N'To use discount in City Supermarket', CAST(0x0000AC490118E0D5 AS DateTime), N'asdfasddsss', CAST(50.00 AS Decimal(18, 2)), 1, N'MPU', N'personal', N'Active    ')
INSERT [dbo].[VoucherDetail] ([GUID], [VoucherGUID], [PromoCode], [QRCode], [PromoCodeStatus]) VALUES (N'095E394D-1828-4870-8E84-EE225D4123C7', N'EB99EB87-2A0D-4C5C-8322-86B13D455182', N'6B13D455182', N'based64imagestring', 0)
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Users_MaxQty]  DEFAULT ((0)) FOR [MaxQty]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Users_MaxGiftQty]  DEFAULT ((0)) FOR [MaxGiftQty]
GO
ALTER TABLE [dbo].[PaymentType] ADD  CONSTRAINT [DF_PaymentType_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Vouchers_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_Customer] FOREIGN KEY([CustomerGUID])
REFERENCES [dbo].[Customer] ([GUID])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Vouchers_Customer]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_PaymentType] FOREIGN KEY([PaymentType])
REFERENCES [dbo].[PaymentType] ([Name])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Vouchers_PaymentType]
GO
ALTER TABLE [dbo].[VoucherDetail]  WITH CHECK ADD  CONSTRAINT [FK_VoucherDetail_Voucher] FOREIGN KEY([VoucherGUID])
REFERENCES [dbo].[Voucher] ([GUID])
GO
ALTER TABLE [dbo].[VoucherDetail] CHECK CONSTRAINT [FK_VoucherDetail_Voucher]
GO
